.product-detail {
  background: #f1f4f8;

  &-inner {
    background: #ffffff;
    padding: 40px 12px;
    margin-bottom: 40px;
    letter-spacing: -0.01em;

    &.products {
      .title {
        margin-bottom: 0;
      }

      padding-top: 32px;
    }

    &.other {
      padding: 12px;
      display: flex;

      .title-background {
        height: 300px;
        width: 25%;
        background: #fafafb;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;

        .ant-image {
          padding-bottom: 12px;
        }

        .ant-image:nth-child(2) {
          right: 100px;
          bottom: 115px;
          position: absolute;
        }

        h2 {
          font-weight: 500;
          font-size: 20px;
          line-height: 28px;
          margin-bottom: 0;
        }
      }

      .content {
        width: 75%;
        padding: 24px;

        h2 {
          font-weight: bold;
          font-size: 16px;
          line-height: 22px;
        }

        &-inner {
          font-size: 14px;
          line-height: 20px;
        }
      }
    }

    .product-main-image {
      width: 100%;
      height: 500px;

      .ant-image {
        width: 100%;
        height: inherit;

        .ant-image-img {
          height: inherit;
        }
      }
    }

    .slide-images {
      margin-top: 12px;

      .ant-col {
        width: 20%;
      }
    }

    .brand {
      background: #e6f1fb;
      width: 68px;
      height: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 8px;

      span {
        color: #0170d5;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
      }
    }

    .product-title {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h3 {
        font-weight: 500;
        font-size: 24px;
        line-height: 34px;
        margin-bottom: 0;
        color: #111111;
      }

      span {
        color: #888888;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
      }

      .btn-wish-list {
        width: 36px;
        height: 36px;
        border: 1px solid #c9d0d8;
        border-radius: 28px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
    }

    .product-price {
      display: flex;
      padding-bottom: 16px;
      border-bottom: 2px solid #e4e8ec;

      span {
        margin-right: 12px;
      }

      .price {
        font-weight: bold;
        font-size: 24px;
        line-height: 34px;
      }

      .normal-price {
        color: #c3c3c3;
        font-size: 24px;
        line-height: 34px;
        text-decoration-line: line-through;
      }

      .dis-percent {
        padding: 0 8px;
        background: #fdf3fb;
        display: flex;
        align-items: center;
        color: #d615b3;
        font-size: 16px;
        line-height: 22px;
        font-weight: bold;
      }
    }

    .product-info {
      &-item {
        padding: 12px 0;
        border-bottom: 1px solid #f2f3f5;
        display: flex;

        .label {
          width: 100px;
          font-weight: 500;
          font-size: 12px;
          line-height: 18px;
          color: #888888;
        }

        .content {
          font-weight: 500;
          font-size: 14px;
          line-height: 20px;
          width: 100%;

          .ant-form-item {
            margin-bottom: 0;
          }
        }

        .content-extra {
          display: flex;
          justify-content: space-between;

          &:first-child {
            margin-bottom: 12px;
          }

          .ant-input-group-wrapper {
            width: 150px;
          }

          .ant-input-group-addon {
            background: inherit;
          }

          .ant-input-group-addon:last-child {
            background: #111111;
            color: #ffffff;
          }

          &-price {
            font-weight: bold;
            font-size: 16px;
            line-height: 22px;
          }
        }

        &.total {
          justify-content: flex-end;
          align-items: center;
          border-bottom: none;

          .label {
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            color: #888888;
          }

          .content {
            text-align: right;
            width: auto;
            font-weight: bold;
            font-size: 20px;
            line-height: 30px;
          }
        }
      }
    }

    .btn-group {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;

      .ant-btn {
        width: 100%;
        padding-top: 8px;
        padding-bottom: 8px;
        height: auto;
        border-radius: unset;
        border-color: #111111;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
      }

      .btn-primary {
        background-color: #111111;
        color: #ffffff;
      }
    }

    .title {
      margin-bottom: 24px;
      font-weight: 500;
      font-size: 20px;
      line-height: 28px;
    }

    .review-statisc {
      padding: 12px;
      margin-bottom: 24px;

      &-title {
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 16px;
      }

      .review {
        padding-left: 12px;

        .total-rate {
          display: flex;
          align-items: center;
          margin: 12px 0px;
        }

        .total {
          line-height: 15px;
        }

        .rate {
          font-weight: 900;
          font-size: 40px;
          line-height: 52px;
          margin-right: 16px;
        }

        .total-rating {
          font-weight: 500;
        }

        .star-rating {
          .ant-image {
            margin-right: 4px;
          }
        }

        .stars {
          display: flex;
          align-items: center;
        }

        .ant-progress {
          margin: 0 8px;
        }

        .ant-progress-bg {
          background-color: #979ca2;
        }

        .details {
          margin-right: 48px;
        }
      }
    }

    .review-comment-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .comment {
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
      }

      .title {
        margin-bottom: 0;
      }

      .ant-btn {
        margin-right: 12px;
        background: #f2f3f5;
      }
    }

    .list-review {
      .review {
        padding: 12px 16px 12px 24px;
        border-bottom: 1px solid #f2f3f5;
        .ant-col {
          display: flex;
          align-items: center;
        }

        &:first-child {
          border-top: 1px solid #f2f3f5;
        }
      }

      .info {
        display: flex;
        flex-direction: column;
        line-height: 20px;

        .name {
          font-weight: 500;
          font-size: 14px;
          line-height: 20px;
        }

        .date {
          font-weight: 500;
          font-size: 12px;
          line-height: 18px;
          color: #888888;
        }
      }

      .content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .label {
          font-weight: 500;
          font-size: 14px;
          line-height: 20px;
          display: flex;
          align-items: center;
        }

        .status {
          margin-right: 12px;
          padding: 8px;
          background: #f2f3f5;
          display: flex;
          align-items: center;

          .anticon {
            margin-right: 8px;
          }
        }

        .anticon-right {
          transform: rotate(90deg);
        }
      }
      .ant-image:first-child {
        margin-right: 12px;
      }
    }

    .ant-pagination {
      padding: 32px 0;
      text-align: center;

      .ant-pagination-item-active {
        a {
          color: #ffffff;
        }
        background: #111111;
        border: none;
      }
    }
  }
}
