.product-icon-inner {

  .select-type {

    .ant-form-item-control {
      width: 225px !important;
    }
  }

}

.create-icon-form {
    
  .ant-form-item {
    margin-bottom: 0;
  }

  .btn-icon-group {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
}
